extends _layout
block content
  section.container
    h1
      a(href="/").colortitle=settings.siteName
    img.avatar2.mt-3.mb-5(src="https://i.pinimg.com/736x/a3/b3/b5/a3b3b540bd1d08284686ce6e5b9a63db.jpg")
  section.container

    p.mb-3.lead Заходи к нам и добро пожаловать!
    p.mb-5
      a.btn.btn-dark.border.border-secondary(href=`/shop`) Товары
      a.btn.btn-dark.border.border-secondary(href=`/login`) login
      a.btn.btn-dark.border.border-secondary(href=`/signup`) signup
  section.container.mb-5
    img.w-50(src="https://sun9-54.userapi.com/s/v1/if2/iV6yMI3pBTEV7xryWht8amDGVec-dLcxy1W6sFsq_S4tQPUxzemSynJxiJyiWmkMgvPZU-FYZSEoreQYntUPMGNa.jpg?size=1892x803&quality=96&type=album")
  section.container.mb-5
    p.lead.mb-5
      table.center1.border1
        thead
          tr
            th
              h3.mb-3 О НАС
        tbody
          tr
            td
              p В век IT-технологий и жизни в обнимку с роботами, в век пандемий и извращенных локдаунов мы лишены социализации, живого общения с друг другом, мы лишены живого смеха и ярких эмоций. Мы живем в другой век и должны подстраиваться под него, но живое общение исключать нельзя ни в коем случае. Наша компания "Slime's Dungeon" долго искала, разрабатывала, проводила опросы, велись переговоры с различными специалистами. Мы грамотно продумали как, хотя бы на время, заменить онлайн на офлайн общение с тем же азартом, но без потери себя, как несоциализированной личности.
              p.mb-5 Решение этой жесткой проблемы - найдено! Пора вытащить нас из рабства компьютерных изоляторов!!! "Slime's Dungeon" предоставляет эту возможность в виде качественных, интересных, развивающих, азартных и увлекательных настольных игр. А тем, кому нескем играть или вообще не умеет, наши сотрудники всегда с радостью помогут!
